:root {
    background-color: #99f3bd;  
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Grande';
}

.navbar {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: large;
    justify-content: space-evenly;
    text-decoration: none;
}

a.active-tab{
    text-decoration: wavy;
    color: #37667E;
    font-size: large;
    opacity: 1;
    transition: 0.3s;
}

a.active-tab:hover{
    opacity: 1.5
}

.main{
    padding: 2rem 2rem;
    text-align: center;
    font-size: large;
}

.contact-form{
    display: block;
    background-color: #f6f7d4 ;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Grande';
}

.contact-form div{
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    text-align: left;
}

.contact-form input{
    display: block;
    text-align: left;
    margin: 0.25rem;
    font-size: 16px;
}

.contact-form textarea{
    display: block;
    text-align: left;
    margin: 0.25rem;
    font-size: 16px;
}

.submit-reset-buttons{
    display: flex;
    flex-direction: row;
    margin: 32%;
    text-align: center;
    font-size: 16px;
    width: fit-content;
    font-family: 'Lucida Grande';
}

.animal-list{
    text-align: left;
}